/* 
@counter-style dash {}
*/

html {
    box-sizing: border-box;
    width: 100%;
/*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 130px;
    padding-right: 130px;
*/
}

body {
    margin: 0;
    margin: 0;
    font-family: "Cuprum", "Bahnschrift Condensed", "Arial Narrow", sans-serif;
    background: #fff;
    
}

main,
header div:not(.header-top) {
    margin-left: 130px;
    margin-right: 130px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #f4f7f9;
}

div.header-top {
    display: inline-flex;
    -webkit-display: inline-flex;
    padding-left: 130px;
    padding-right: 130px;
    margin: 0;
    padding-top: 0;
    height: 42px;
    background-color: #293449;
    
    font-size: 17px;
    line-height: 18px;
    color: #fff;
}

a.header-logo img {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ee3643;
    box-shadow: 0px 5px #b52933;
}

/*a.header-logo img:visited {
 надо прописывать отсутствие изменений?
}*/

a.header-logo img:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px #9a212a;
}

a.header-logo img:active {
    background-color: #ba2732;
    box-shadow: 0px 5px #8e1e26;
}


.header-top input {
    width: 300px;
    height: 100%;
    padding-left: 50px;
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #000;
    background-color: #293449;
    border: none;
}

.header-top input:hover,
.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.header-top input:focus {
    color: #000;
    background-color: #fff;
}

.header-top input::before {
    content: "";
    background-image: url("img/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 16px center;
    /* как задать цвет иконки? */
}

ul.cart-navigation {
    list-style: none;
    display: inline-flex;
    -webkit-display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
    
}

.cart-navigation li {
    width: 150px;
    padding-top: 11px;
    text-align: center;
}

.cart-navigation li:last-child {
    background: #63a63e;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
}

.cart-navigation a:active {
    color: #8b8e94;
}

.cart-navigation li:last-child:hover {
    background-color: #5fbb2d;
}

.cart-navigation li:last-child:active {
    background-color: #518534;
}

/*
.bookmarks::before {
    content: "";
    background-image: url("img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 17px center;
    как задать цвет иконки?
}

.cart::before {
    content: "";
    background-image: url("img/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 17px center;
    как задать цвет иконки?
}
*/

header div {    
    padding-top: 46px;
}

.site-description {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: #ee3643;
    padding-left: 51px;
}

ul.header-contacts {
    list-style: none;
    width: 271px;
}

.header-contacts a {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 2px solid #fff;
    padding-top: 12px;
    padding-bottom: 12px; 
    padding-left: 70px;
    padding-right: 47px;
}

/*
.header-contacts a::before {}
*/
.header-contacts li:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
    margin-top: 15px;
}

.login {
    list-style: none;
    font-size: 21px;
    line-height: 21px;
}

.login li {
    background-color: #fff;
    margin: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    text-align: center;
}

.sign-in {
    width: 123px;
}

.sign-in a::before {
    content: "";
    background-image: url("img/icon-login.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 17px center;
}

.sign-up {
    width: 150px;
}

.login a,
.user a {
    color: #000;
}

.login a:hover,
.my-orders a:hover,
.my-profile a:hover {
    color: #ee3643;
}

.login a:active,
.profile-navigation a:active {
    color: #cacaca;
}

/* rules for profile-navigation*/
ul.profile-navigation {
    list-style: none;
}

.user {
    background-color: #fff;
    width: 245px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 47px;
    font-size: 21px;
    line-height: 21px;
}

/*.profile-name a::before {
    content: "";
    background-image: url("img/icon-user.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 13px center;
} */

.log-out a {
    background-color: #fff;
    background-image: url("img/icon-logout.svg");
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 12px center;
}

.my-orders a,
.my-profile a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.navigation-header ul {
    display: inline-flex;
    -webkit-display: inline-flex;
    width: 940px;
    list-style: none;
    background-color: #32425c;
    box-shadow: 0px 5px #293449;
    margin-bottom: 60px;
}

.navigation-header li {
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation-header li:hover {
    background-color: #293449;
}

.navigation-header li:active {
    background-color: #1d2739;
}

.navigation-header a {
    font-size: 17px;
    line-height: 17px;
}

.navigation-header a:active {
    color: #a1a4a8;
}

.breadcrumbs {
    margin-top: 20px;
    list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current,
section.suggestions {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}

.breadcrumbs a:first-of-type {
    background-image: url("img/icon-home.svg");
}

h1.catalog-group {
    font-family: "Cuprum";
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
}

/*
aside {
    max-width: 220px;
    float: left;
    margin-right: 20px;
}
*/
.filter, 
.sort-by h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    background-color: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 19px;
}

h2.filter {
    max-width: 220px;
} 

.price-filter label,
.brand-filter h3,
.power-filter h3 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.brand-filter h3,
.power-filter h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}

/*
.brand-filter h3::before,
.power-filter h3::before {
    content: "-";
    display: block;
    text-transform: underline;
    color: #c5c5c5;
}  */

input[type="range"] {
    display: block;
    background-color: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 3px;
    max-width: 220px;
    max-height: 79px;
    padding: 30px 20px;
}

output {
    font-size: 17px;
    line-height: 18px;
    background-color: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 3px;
    width: 95px;
    padding: 13px 14px;
    margin-bottom: 25px;
}

.brand-filter label,
.power-filter label {
    font-size: 15px;
    line-height: 20px;
}

.button-filter {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    width: 140px;
    padding: 5px 38px;
    margin-top: 70px;
}

a.button,
a.to-cart,
a.bookmark-it {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
}

a.button {
    background-color: #ee3643;
    border: 1px solid #ee3643;
    border-radius: 3px;
    
}

a.button:hover {
    background-color: #ca2c37;
}

a.button:active {
    background-color: #ba2732;
}

a.to-cart {
    background-color: #63a63e;
}

a.bookmark-it {
    color: #32425c;
    background-color: #fff;
    border: 2px solid #63a63e;
}

/*
a.popular-brands,
a.popular-products {
    
}
*/

.write-us,
.about-us {
    display: block;
    margin-top: 40px;
    margin-bottom: 86px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.about-us {
    max-width: 220px;
}

.write-us {
    max-width: 300px;
}

.index-about-us {
    margin-top: 80px;
}

.index-about-us h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
}

.index-about-us p {
    font-family: "PT Sans", "Arial Narrow", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
    max-width: 520px;
    margin-top: 28px;
}

.index-about-us ul {
    margin-top: 22px;
   /* list-style-type: dash; */
}

.index-about-us li {
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin-bottom: 20px;
}

.small-map {
    margin-top: 35px;
}

footer {
    
    background-color: #32425c;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-left: 130px;
    padding-right: 130px;
}

.footer-2 {
   background-color: #293449;
}

img.footer-logo {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: #ee3643;
    box-shadow: 0px 5px #b52933; 
}

p.footer-contacts {
    margin-top: 30px;
    margin-bottom: 0px;
}

p.copyright {
    margin-top: 90px;
    margin-bottom: 0px;
}

p.copyright + p {
    margin-top: 0px;
}

p.copyright,
p.copyright + p,
p.webdeveloper,
p.email,
p.webdeveloper a,
p.email a {
    font-size: 16px;
    line-height: 18px;
}

p.footer-contacts + a {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
}

.navigation-footer ul {
    list-style: none;
    float: right;
    padding-left: 59px;
}

.footer-categories a,
.email a,
.webdeveloper a {
    color: #ffd180;
}

.navigation-footer a:hover,
.email a:hover,
.webdeveloper a:hover {
    text-decoration: underline;
}

.navigation-footer a:active {
    color: #a4abb4;
    text-decoration: none;
}

.footer-categories a:active {
    color: #ad956f;
    text-decoration: none;
}

.email a:active,
.webdeveloper a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    background-color: #212a3a;
    border: 1px solid #212a3a;
    border-radius: 50%;
}

a.social-button:hover,
a.social-button:active {
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

.vk {
    background-image: url("img/icon-vk.svg");
    background-repeat: no-repeat;
    background-size: 26px 15px;
}

.fb {
    background-image: url("img/icon-fb.svg");
    background-repeat: no-repeat;
    background-size: 12px 22px;
}

.instagram {
    background-image: url("img/icon-insta.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px; 
}

.modal {
    display: none;
}