/* 
@counter-style dash {}
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    
/*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 130px;
    padding-right: 130px;
*/
}

body {
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    background: #fff;
    
}

main,
header div:not(.header-top) {
    margin-left: 130px;
    margin-right: 130px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

header {
    background-color: #f4f7f9;
}

.header-top {
    padding-left: 130px;
    padding-right: 130px;
    margin: 0;
    padding-top: 0;
/* height 42px*/
    background-color: #293449;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
}

.header-logo img {
    box-sizing: content-box;
/*Почему-то исчезли лого вверху и внизу. Решила попробовать сменить значение бокс-сайзинга, и картинка вернулась. Так и должно быть или я придумала костыль?*/
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ee3643;
    box-shadow: 0px 5px #b52933;
}

/*a.header-logo img:visited {
 надо прописывать отсутствие изменений?
}*/

.header-logo img:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px #9a212a;
}

.header-logo img:active {
    background-color: #ba2732;
    box-shadow: 0px 5px #8e1e26;
}


.header-top input {
/*    width: 300px;
    height: 100%; */
    margin-top: 11px; /*temporary*/
    padding-left: 50px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    border: none;
}

.header-top input:hover,
.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.header-top input:focus {
    color: #000;
    background-color: #fff;
}

.header-top input::before {
    content: "";
    background-image: url("img/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 16px center;
    /* как задать цвет и прозрачность иконке? */
}

input[type="search"]::placeholder {
    color: #fff;
    opacity: 1;
}

input[type="search"]:-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder {
    color: #fff;
}

.cart-navigation {
    list-style: none; 
    margin-top: 11px; 
    
}

.cart-navigation li { 
    margin-top: 30px; 
    /* временно пока нет сетки */
}

.bookmarks,
.cart,
.order {
/*    width: 150px;
    height: 42px; 
*/
    margin-top: 11px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 22px;
    text-align: center;
    color: #fff;
}

.order {
    
    background: #63a63e;
    padding-left: 22px;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
}

.cart-navigation a:active {
    color: #8b8e94;
}

.order:hover {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}

/*
.bookmarks::before {
    content: "";
    background-image: url("img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 17px center;
    как задать цвет и прозрачность иконке?
   
}

.cart::before {
    content: "";
    background-image: url("img/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 17px center;
    как задать цвет иконке?
}
*/

.header-part2 {    
    padding-top: 46px;
}

.site-description {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: #ee3643;
    padding-left: 51px;
}

.header-contacts {
    list-style: none;
    
}

.header-contacts a {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 2px solid #fff;
    padding-top: 12px;
    padding-bottom: 12px; 
    padding-left: 70px;
    padding-right: 47px;
}

/*
.header-contacts a::before {}
*/
.header-contacts li:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
/*    text-align: center; */
    margin-top: 15px;
}

.login {
    list-style: none;
    font-size: 21px;
    line-height: 21px;
}

.login li {
    min-height: 45px;
/* NB не рекомендуется задавать высоту и ширину одновременно, 
так как может привести к проблеме переполнения контентом*/
    width: 123px;
    margin: 10px;
}

.login li:nth-child(2) {
    width: 150px;
}

.login a,
.user {
    background-color: #fff;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 26px;
    vertical-align: middle;
    text-align: center;
    color: #000;
}

.sign-in a::before {
    content: "";
    background-image: url("img/icon-login.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 17px center;
}

.login a:hover,
.my-orders:hover,
.my-profile:hover {
    color: #ee3643;
}

.login a:active,
.profile-navigation a:active {
    color: #cacaca;
}

/* rules for profile-navigation*/
.profile-navigation {
    list-style: none;
}

.profile-navigation li {
    margin-top: 10px;
    margin-left: 18px;
}

.user {
    background-color: #fff;
    width: 245px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 47px;
    font-size: 21px;
    line-height: 21px;
}

/*.profile-name a::before {
    content: "";
    background-image: url("img/icon-user.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 13px center;
} */

.log-out {
    background-color: #fff;
    background-image: url("img/icon-logout.svg");
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 12px center;
}

.my-orders,
.my-profile {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.profile-navigation li:nth-last-of-type(3),
.profile-navigation li:nth-last-of-type(4) {
    margin-top: 20px;
}

.header-navigation ul {
    width: 940px;
    list-style: none;
    background-color: #32425c;
    box-shadow: 0px 5px #293449;
    margin: 0 auto;
    margin-bottom: 60px;
}

.header-navigation li {
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-navigation li:hover {
    background-color: #293449;
}

.header-navigation li:active {
    background-color: #1d2739;
}

.header-navigation a {
    font-size: 17px;
    line-height: 17px;
    color: #fff;
}

.header-navigation a:active {
    color: #a1a4a8;
}

.breadcrumbs {
    margin-top: 20px;
    list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current,
section.suggestions {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}

.breadcrumbs a:first-of-type {
    background-image: url("img/icon-home.svg");
}

.catalog-group {
    font-family: "Cuprum";
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
}

/*
aside {
    max-width: 220px;
    margin-right: 20px;
}
*/
.filter, 
.sort-by h2,
.sort-by {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    background-color: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 19px;
}

.filter {
    max-width: 220px;
} 

.price-filter label,
.brand-filter h3,
.power-filter h3 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.brand-filter h3,
.power-filter h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}

/*
.brand-filter h3::before,
.power-filter h3::before {
    content: "-";
    display: block;
    text-transform: underline;
    color: #c5c5c5;
}  */

input[type="range"] {
    display: block;
    background-color: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 3px;
    max-width: 220px;
    max-height: 79px;
    padding: 30px 20px;
}

output {
    font-size: 17px;
    line-height: 18px;
    background-color: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 3px;
    width: 95px;
    padding: 13px 14px;
    margin-bottom: 25px;
}

.brand-filter label,
.power-filter label {
    font-size: 15px;
    line-height: 20px;
}

.button-filter {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    width: 140px;
    padding: 5px 38px;
    margin-top: 70px;
}


a[class^="by-"] {
    color: #b2b2b2;
    border-bottom: 1px dotted #ee3643;
}


a[class^="by-"]:hover {
    color: #000;
    border-bottom: 1px solid #ee3643;
}

/*индикатор активности: пока не знаю, какой селектор нужен*/
a[class^="by-"]:active {
    color: #ee3643;
    border: none;
}

.button-sort-lt {
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-bottom: 12px solid #c5c5c5;
    border-left: 6px solid #f7f3ec;
    border-right: 6px solid #f7f3ec;
}

.button-sort-gt {
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 12px solid #c5c5c5;
    border-left: 6px solid #f7f3ec;
    border-right: 6px solid #f7f3ec;
}

.button-sort-lt:hover {
    border-bottom: 12px solid #000;
}

.button-sort-gt:hover {
    border-top: 12px solid #000;
}
/*индикатор активности: пока не знаю, какой селектор нужен*/
.button-sort-lt:active {
    border-bottom: 12px solid #ee3643;
}

.button-sort-gt:active {
    border-top: 12px solid #ee3643;
}

.button,
.to-cart,
.bookmark-it {
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
}

.button {
    background-color: #ee3643;
    border: 1px solid #ee3643;
    border-radius: 3px;
    color: #fff;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.to-cart {
    color: #fff;
    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    border-radius: 3px;
    padding-left: 49px;
    padding-right: 45px;
    padding-top: 14px;
    padding-bottom: 11px;
/* button size 135px x 35px + 3px bottom border 
??? word is 10px high, though the font size is 14px*/
}

.to-cart:hover {
    background: #5fbb2d;
}

/* icon for add-to-cart button + it changes colour/opacity*/

.to-cart:active {
    background-color: #518534;
    border-bottom: 3px solid #518534;
}

.bookmark-it {
    color: #32425c;
    background-color: #fff;
    border: 3px solid #63a63e;
    border-radius: 3px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 33px;
    padding-right: 29px;
}

.bookmark-it:hover {
    border: 3px solid #32425c;
    /*если меняется только цвет рамки, можем ли мы в этом 
    свойстве указать только цвет (border-color) или важно полностью?*/
}

.bookmark-it:active {
    border-color: #c1c6ce;
    color: #c1c6ce;
}

.buy-it li {
    margin-bottom: 30px;
}

/*
.popular-brands,
.popular-products {
    
}
*/
.sort-by ul,
.search-results,
.popular-products-list,
.product-card ul {
    list-style: none;

/* себе: посмотреть с какими списками можно объединить правило 
отсуствия маркировки*/
}

.product-card {
    border: 1px solid #c5c5c5;
    width: 220px;
    margin-top: 21px;
    padding-top: 44px;
    padding-bottom: 21px;
}

/* так не работает
.product-card:hover {
    box-shadow: 0px -14px 10x #ededef,
                -23px 0px 10px #cdd0d5,
                33px 0px 5px #a9aeb6,
                0px 23px 10px #ccced3;
}
*/

.product-card h3 a,
.product-card h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.product-card ul {
    margin: 0 auto;
}

.old-price,
.new-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 14px;
    
}

.old-price {
    color: #a9a9a9;
    text-align: center;
}
/*у старой цены выравнивание по центру идёт от какого-то отступа. Я так понимаю, это отступ списка, в котором он находится, который определили через .product-card ul {margin: 0 auto} */

.new-price {
    color: #fff;
    background-color: #ee3643;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 38px;
    padding-right: 16px;
    border: 1px solid #ee3643;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 0 auto;
/* 122-124px прямоугольник + 18-19 треугольная часть
сняла в макете паддинги новой цены, но почему-то в браузере они выглядят гораздо больше*/
}


p.new-price {
    min-width: 124px;
    margin-left: 43px;
}

/* Как делать треугольник в правой части обводки цены?
Подумать, как поместить его за границу рамки цены, сейчас вставляется сразу после текст цены 
.new-price::after {
    content: "";
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 20px solid #fff;
    border-left: 19px solid #ee3643;
    border-bottom: 20px solid #fff;
}
*/

.write-us,
.about-us {
    display: block;
    margin-top: 40px;
    margin-bottom: 86px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.about-us {
    max-width: 220px;
}

.write-us {
    max-width: 300px;
}

.index-about-us {
    margin-top: 80px;
}

.index-about-us h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
}

.index-about-us p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
    max-width: 520px;
    margin-top: 28px;
}

.index-about-us ul {
    margin-top: 22px;
   /* list-style-type: dash; */
}

.index-about-us li {
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin-bottom: 20px;
}

.small-map {
    margin-top: 35px;
}

footer {
    
    background-color: #32425c;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-left: 130px;
    padding-right: 130px;
}

.footer-2 {
   background-color: #293449;
}

.footer-logo {
    box-sizing: content-box;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: #ee3643;
    box-shadow: 0px 5px #b52933; 
}

.footer-contacts {
    margin-top: 30px;
    margin-bottom: 0px;
}

.copyright {
    margin-top: 90px;
    margin-bottom: 0px;
}

.copyright + p {
    margin-top: 0px;
}

.copyright,
.copyright + p,
.webdeveloper,
.email,
.webdeveloper a,
.email a {
    font-size: 16px;
    line-height: 18px;
}

.footer-contacts + a {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
}

.footer-navigation ul {
    list-style: none;
    float: right;
    padding-left: 59px;
}

.general-footer-navigation a {
    color: #fff;
}

.footer-categories a,
.email a,
.webdeveloper a {
    color: #ffd180;
}

.footer-navigation a:hover,
.email a:hover,
.webdeveloper a:hover {
    text-decoration: underline;
}

.footer-navigation a:active {
    color: #a4abb4;
    text-decoration: none;
}

.footer-categories a:active {
    color: #ad956f;
    text-decoration: none;
}

.email a:active,
.webdeveloper a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    
    background-color: #212a3a;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #212a3a;
    border-radius: 50%;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

.vk {
    background-image: url("img/icon-vk.svg");
    background-repeat: no-repeat;
    background-size: 26px 15px;
}

.fb {
    background-image: url("img/icon-fb.svg");
    background-repeat: no-repeat;
    background-size: 12px 22px;
}

.instagram {
    background-image: url("img/icon-insta.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px; 
}

.modal {
    display: none;
}